
*{padding: 0; margin: 0; position: relative;}

a{text-decoration: none;}
img { width: 100%; height: 100%;}

body{ width: 100vw; height: 100vh; overflow: hidden;}

#app{ width: 100vw; height: 100vh; overflow-x: hidden;}

.d-page { width: 100vw; height: 100vh; }

.d-main { width: 100%; height: 100%;} 

#header-global{
    z-index: 2;
}

.d-header {
    height: 60px;
    background: rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
}

.d-header-menu a{
    padding: 0 10px;
    cursor: pointer;
}

#home-page{
    opacity: 1;
}

#home-page::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.1;
    background: url('img/background.jpg');
}

#little-cart {
    background: url('img/cart-shopping-solid.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.noty-cart {
    position: absolute;
    background-color: green;
    font-size: 10px;
    color: white;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
}

#products-page{
    background-color: white;
}

#contact-page {
    background-color: white;
}

.itens-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.items {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.products {
    padding: 50px;
    font-size: 30px;
    color: rgb(108, 106, 106);
    align-items: center;
}

.product {
    width: 900px;
    background-color: rgb(215, 213, 213);
    display: flex ;
    flex-direction: row;
}

.product-image {
    width: 240px;
    height: 180px;
    padding: 15px;
}

.product-description{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.product-text {
    flex-grow: 1;
    font-size: 16px;
}
.button {
    background-color: rgb(2, 213, 255);
    font-size: 20px;
    border: none;
    border-radius: 40px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
}


.image { 
    border:2px solid black ;
    width: 240px
}

.itens-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.items-contacts {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.contacts {
    padding: 50px;
    font-size: 30px;
    color: rgb(108, 106, 106);
    align-items: center;
}

.contact {
    width: 900px;
    background-color: rgb(215, 213, 213);
    display: flex ;
    flex-direction: row;
}

.contact-image {
    width: 120px;
    height: 90px;
    padding: 15px;
}

.contact-description{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-text {
    flex-grow: 1;
    font-size: 16px;
}

.d-main-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-panel {

}

.home-tittle {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.home-description {
    
}

.home-images {
    display: flex;
    gap: 10px;
}

.home-image {
    position: relative;
    width: 200px;
}

.home-offer {
    font-size: 30px;
    color: rgb(0, 139, 182)
}

.home-text-container {
    width: 500px;
    text-align: left;
}

.home-discount {
    background-color: rgb(0, 227, 72);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    width: 50px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 130px;
    z-index: 1;

}
/* Painel */


.d-painel {
    position: fixed;
    width: 300px;
    right: -300px;
    top: 0;
    height: 100vh;
    transition: 0.5s;
    background-color: white;
    z-index: 10;
}

.d-painel-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.d-painel.d-painel-open{
    right: 0px;
}

.d-painel-header {
    padding: 10px;
}

.d-painel-content {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0px;
    padding: 10px 15px; 
}

.d-painel-footer {
    height: 100px;
    padding: 10px 15px; 
}

#painel-close{
    background: url('img/xmark-solid.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#painel-close:hover {
    color: red;    
}

.d-painel-title{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.d-painel-footer-totalizer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(209, 209, 209);
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.d-painel-footer-totalizer-1{
    font-weight: bold;
    text-transform: uppercase;
}

.d-painel-footer-finality {
    width: 100%;
}

#finality {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 40px;
    background-color: rgb(15, 216, 216);
    font-size: 22px;
}

.d-painel-product {
    display: flex;
}

.d-painel-product-img{
    width: 120px;
}
/*end Painel*/